.content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  .imagebox {
    width: 500px;
    height: 700px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 70px;
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
    .block {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 0;
      background-color: #fff;
      z-index: 1;
      transition: all 2s;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .description {
    flex: 1;
    & > .title {
      color: #000;
      font-size: 42px;
      font-family: "CircularStd-Medium";
    }
    .quote {
      font-family: "CircularStd-Book";
      color: #ec6a00;
      line-height: 40px;
      font-size: 24px;
      padding: 0 30px;
      position: relative;
      margin: 35px 0;
      overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        height: 80%;
        transform: translateY(-50%);
        width: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        background-color: #eb6a00;
      }
      &::after {
        content: "â€";
        position: absolute;
        top: 0;
        transform: translateY(70%);
        right: 0;
        color: #ec6a00;
        font-size: 104px;
        font-family: "CircularStd-Book";
        opacity: 0.4;
      }
    }
    .text {
      font-family: "CircularStd-Book";
      color: #878787;
      font-size: 18px;
      line-height: 30px;
    }
    .rates {
      display: flex;
      align-items: flex-start;
      margin-top: 35px;
      margin-bottom: 70px;
      &-item {
        min-width: 230px;
        .val {
          width: 60px;
          height: 60px;
          border-radius: 10px;
          background-color: #ee9802;
          font-family: "CircularStd-Bold";
          font-size: 20px;
          color: #fff;
        }
        &:not(:last-child) {
          margin-right: 50px;
        }
        .desc {
          margin-left: 20px;
          line-height: 30px;
          .title {
            color: #888888;
            font-size: 14px;
            font-family: "CircularStd-Bold";
          }
          .web {
            color: #888888;
            font-family: "CircularStd-Medium";
            font-size: 18px;
            span {
              color: #000;
            }
          }
          .rates-val {
            font-family: "CircularStd-Book";
            color: #2e9014;
            font-size: 18px;
          }
        }
      }
    }
  }
}
.infobox-container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  & > * {
    width: 247px;
  }
}
